body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.8;
    color: #6f717c;
    
    background-color: #fff;
}
/********** Some common styling******/
h1,h2 ,h3 ,h4 , h5{
    color: #131e3f;
}

.box-shadow{
    box-shadow:  0 0.75rem 1.5rem rgba(23, 26, 41, 0.05) !important;;
}




/* header start**/
.header {
    position: fixed !important;
    width: 100%;
    height: 80px;
    background: #ffffff;
   
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    z-index: 999;
    top: 0;
}
.header-transparent {
    transition: all 0.3s ease-in-out;
}
nav{
    padding: 0 0 8 0;
}
.x{
    padding-left: 0px;
}
.navbar-collapse{
    background-color: #fff;
}
.ul-mar{
    margin-right: 191px;
    margin-left: 151px;
    
}
.li-nav{
    padding: 10px;
}
.li-nav a{
    font-weight: 500;
}
.nav-btn{
    margin-left: 30px;
    margin-right: 0px;
    padding: 7px 20px;
    font-size: 18px;
}
.navbar-light .navbar-nav .nav-link {
    color: #2c2f3d;
}
.navbar-light .navbar-brand {
    color: rgba(23, 26, 41, 0.9);
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.78906rem;
    padding-bottom: 0.78906rem;
    margin-right: 0px;
    font-size: 1.7188rem;
    line-height: inherit;
    white-space: nowrap;
   
}
.logo-text{
font-weight: 500;
}   
.btn{
    background-color:#3e50f7;
}


/*section*/
.section-one{
    position: relative;
    padding-top: 150px;
    
}

.font-weight-normal{
    font-weight: 1000;

}
h1{
    font-size: 2.5rem;
    font-weight: 500 !important;
   
}
.row-1{
    align-items: center;
    padding-top: 70px;
    
}
@media (max-width : 982px){
    .row-1{
        padding-top: 0px;
    }
    .section-one{
        padding-top: 110px;
    }
}
.img-size{
   
    height : auto ;
    width: 430px;
    right: 5px;
   
}
.img-1{
    margin-left:110px;
}

@media (max-width:780px){
    .img-1{
        margin-left:0px;
    }
    
    .img-size{
        width: 100%;
    }
    h1{
    
        margin-bottom: 1rem;
        font-weight: 1000;
        line-height: 1.3;
        color: #131e3f;
        font-size: calc(1.36875rem + 1.425vw);
    
}
}

/* section two start*/

.section-two{
    padding:70px  0px;
    padding-top: 20px;
    
}
.h1-cards{
    margin-bottom: 100px;
    margin-top: 15px;
}
.card{
    text-align: left;
}
.card-icon{
   
    margin-top: 7px;
    margin-left: 19px;
}
.sec-span-1, .sec-span-2, .sec-span-3{

    position: absolute;
    right: 28px;
    top: 7px;
    font-weight: 500;
    text-align: center;
    width: 50px;
}
.sec-span-1{
    background-color: rgba(62, 80, 247, 0.1);
    color: #3e50f7;
    
}
.sec-span-2{
    background-color: rgba(255, 193, 7, 0.1);
    color: #ffc107;
    width:70px;
    
}
.sec-span-3{
    background-color: rgba(40, 167, 69, 0.1);
    color: #28a745;
   

}
.pd-sec{
    padding: 10px;
}
@media (max-width: 768px){
  .ma{
      margin-bottom: 15px;
  }
  .h1-cards{
      margin-bottom: 50px;
  }
}

/*section 3  ***/

.ul-element-sec-3{
    margin-top: 20px;
}
.ul-element-sec-3 ul li{
    margin: 4px 0;
}


.img-sec{
    width: 330px;
    height: 380px;
    padding-right: 0px;
    margin-bottom: 20px;
}

@media (min-width : 550px ){
    .img-sec{
       width: 300px;
       height: 250px;
       padding-right:50px;
       margin-top: 100px;
   }
}
@media (min-width : 780px ){
    .img-sec{
       width: 550px;
       height: 350px;
       padding-right:50px;
       margin-top: 0px;
   }
}
.circle{
    padding-left: 15px;
}
/**** section 4**********/
.section-four{
    padding-top: 75px; padding-bottom: 75px;
}
.section-4-svg{
    margin: 5px 0;
    width: 100%;
}
.sec-4-div{
    text-align: center;
    margin-top: 41px;
}
.sec-4-div span{
    background-color: rgba(62, 80, 247, 0.1);
    color: #3e50f7;
    font-weight: 800;

}
.text-st{
    color: #3e50f7 !important;
    font-weight: 500;
    text-decoration: none;
}

.sec-4-span{
    font-weight: 500;
    text-align: center;
    background-color: rgba(62, 80, 247, 0.1);
    color: #3e50f7;
    
} 


/* section 5*/
.section-five{
    padding: 75px 0px;
}

.card-btton{
    padding: 20px;
}
.card-btton button{
    
        height: 24px;
        padding: 0px;
        width: 80px;
        font-size: 13px;
        border: none;
        background-color: rgba(62, 80, 247, 0.1);
        color: #3e50f7;
        font-weight: 600;
}


/*** section-6****/
.section-6{
    margin-bottom: 50px;
}
.people-img{
    height: 32px;
    width: 32px;
    border-radius: 100%;
}
.d-flex{
    align-items: center;
}
.para-pad{
    margin-bottom: 40px;
}

.h1-card{
    margin-bottom: 100px;
}
.h1-card h3{
    margin-top: 40px;
    
}